<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel='stylesheet' id='syntax-merriweather-css'  href='https://fonts.googleapis.com/css?family=Merriweather%3A400%2C300italic%2C300%2C400italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext&#038;ver=4.4-alpha-34640' type='text/css' media='all' />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
  <script src="{{ "/assets/js/parse-bibtex.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

  <script src="http://cdn.webppl.org/webppl-editor-1.0.5.js"></script>
  <link rel="stylesheet" href="http://cdn.webppl.org/webppl-editor-1.0.5.css">  

  <script src="http://cdn.webppl.org/webppl-viz-818a17e.js"></script>
  <link rel="stylesheet" href="http://cdn.webppl.org/webppl-viz-0.7.10.css">
  
  <script src="{{ "/assets/js/webppl.min.js" | prepend: site.baseurl }}" defer async></script>

  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='{{ js_file }}' type="text/javascript"></script>
    {% endfor %}
  {% endif %}
      
</head>
