.wpedit .CodeMirror-lines {
    border: 1px solid black;
    border-radius: 2px;
}

.wpedit button.run {
    border: 1px solid gray;
    font-family: Menlo;
    background-color: #e0e0e0;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 1em;
    min-width: 100px;
}

.wpedit button.run:hover {
    cursor: pointer
}

.wpedit button.run:active {
    background-color: #a0a0a0;
}

.wpedit button.run:disabled {
    cursor: auto;
}


.wpedit .result {
    border: 1px solid gray;
    border-radius: 2px;
    margin: 0.5em 0;
    min-height: 0.5em;
}

.wpedit .result pre {
    border: none
}

.wpedit pre.error {
    background-color: red;
    color: white;
}

.wpedit .error-message {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer
}

.wpedit .stale {
    opacity: 0.2
}

.wpedit .hide {
    display: none
}

.wpedit .CodeMirror-foldmarker {
    background-color: #ffffcc;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline;
    padding: 0 0.5em
}

.wpedit .CodeMirror-foldmarker:hover {
    cursor: pointer
}

.wpedit div.CodeMirror span.CodeMirror-matchingbracket {
    background-color: #e0e0e0;
}

.wpedit div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: black;
    background-color: #ECAAB9;
}


.wpedit .hidden {
    display: none;
}
