html {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    color: #fff;
    background-color: #333333;    
}

body {
    /* The fixes here are required since we include webppl.org/homepage.css at editor.html. */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

h1 {
    font-size: 160%;
    color: #444;
    margin: 1em 0 1.5em 0;
}

h2 {
    font-size: 140%;
    margin: 1.5em 0 1em 0;
}

h3 {
    font-size: 120%;
    margin: 1.5em 0 1em 0;
}

.site-title {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    text-align: center;
}

a.site-title:hover {
    text-decoration: underline
}

a.chapter-link {
    color: #095AD3;
}

.page-content-wrapper {
    background-color: #fff;
    overflow: visible;
}

.page-content {
    line-height: 23px;
    padding: 40px;
    background-color: #fff;
    color: #000;
    min-height: 500px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;
}

/* Increase max-height of editor so that we can show bigger gridworlds */

.page-content .wpedit .result {
    max-height: 1200px;
}

/* Prettier editor buttons */

.wpedit button {
    height: 26px !important;
    padding: 0em 1em !important;
    background-color: #e0e0e0 !important;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border-radius: 4px;
    border: 1px solid rgb(204,204,204) !important;
    font-size: 12px !important;
}

.wpedit button:hover {
    background-color: #d0d0d0;
}

.wpedit button:active {
    background-image: none;
}

/* Make errors less jarring */

.page-content .wpedit .result pre.error {
    color: red;
    background-color: #fff;
}

/* Decrease line-height a bit, add padding to code and result box */

.page-content .CodeMirror-lines, .page-content .wpedit .result {
    padding: 5px;
    line-height: 18px;
}


.page-content .wpedit .result pre {
    font-size: 12px;
    margin: 5px;
}

.page-content > p > img {
    display: block;
    margin: auto;
    padding: 20px;
}

a.ref, .abstract-links a {
    text-decoration: none;
    color: #000;
}

a.ref:visited:hover, .abstract-links a:visited:hover {
    color: rgb(85, 26, 139);
}

a.ref:hover, .abstract-links a:hover {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}

.MathJax_Preview {
    color: #888
}

.math_finished .MathJax_Preview {
    display: none
}

ol li {
    list-style-type: upper-roman
}
ol li ol li {
    list-style-type: decimal;
}

header, footer {
    padding: 30px;
}

div#authors {
    text-align: center;
    background-color: hsla(186,8%,90%,1);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #666;
}

div#authors a, div#authors a:hover, div#authors a:visited {
    color: #666;
}

div#authors a, div#authors a:visited {
    text-decoration: none;
}

div#authors a:hover {
    text-decoration: underline;
}

pre#bibtex {
    display: none;
    white-space: pre-wrap;
}

img#cover {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -40px;
}

div#footnotebubble {
    background-color: hsla(186,8%,90%,1);
    width: 500px;
    padding: 1em;
    color: #666;
    border: 1px solid #666;
}

div#footnotebubble p {
    margin: 0;
}

footer {
    font-size: 80%;
    text-align: center;
}

footer a {
    color: #bbb
}

.editor-panel-body h1 {
    line-height: 1.5em;
}

div#file-buttons {
    display: inline;
    padding-left: 0;
}