html {
    font-family: Merriweather, Georgia, 'Times New Roman', serif;
    color: #fff;
    background-color: #333333;    
}

h1 {
    font-size: 160%;
    color: #444;
}

.site-title {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    text-align: center;
}

a.site-title:hover {
    text-decoration: underline
}

a.chapter-link {
    color: #095AD3;
}

.page-content-wrapper {
    background-color: #fff;
}

.page-content {
    line-height: 23px;
    padding: 40px;
    background-color: #fff;
    color: #000;
    min-height: 500px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

header, footer {
    padding: 30px;
}

footer {
    font-size: 80%;
    text-align: center;
}

footer a {
    color: #bbb
}